{% extends "modals/action_2_with_cancel.html" %}
{% load static %}

{% block modal_dialog_id %}trip-create-modal{% endblock %}

{% block title_text %}Créer un nouveau voyage{% endblock %}

{% block preamble %}
<form method="post" action="{% url 'trips_trip_create' %}" data-async="modal">
  {% csrf_token %}
{% endblock %}

{% block body %}
  {% include "trips/components/trip-form.html" with show_help_text=True %}
{% endblock %}

{% block action_right %}
<button type="submit" class="btn btn-primary">CRÉER LE VOYAGE</button>
{% endblock %}

{% block postamble %}
</form>
{% endblock %}
