{% extends "modals/action_2_with_cancel.html" %}
{% load icons %}

{% block modal_dialog_id %}itinerary-item-edit-modal{% endblock %}

{% block title_text %}Modifier l'élément d'itinéraire{% endblock %}

{% block preamble %}
<form method="post" action="{% url 'itinerary_item_edit' trip_uuid=trip.uuid item_id=item.id %}" data-async="modal">
  {% csrf_token %}
{% endblock %}

{% block body %}
  {% include "itineraries/components/itinerary-item-form.html" %}
{% endblock %}

{% block action_right %}
<button type="submit" class="btn btn-primary">
  {% icon "save" size="sm" css_class="tt-icon-left" %}
  METTRE À JOUR
</button>
{% endblock %}

{% block postamble %}
</form>
{% endblock %}
