{% extends "pages/interstitial_page.html" %}

{% block interstitial_content %}
<div class="h3" >Courriel envoyé</div>
<div class="my-3">
  Consultez votre boîte de réception pour trouver le code d'accès.
</div>

<div class="my-3">
  <form role="form" class="form"
        method="POST" 
        action="{% url 'user_signin_magic_code' %}"
        data-synchronous="true">
    {% csrf_token %}
    {% for hidden in magic_code_form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {{ magic_code_form.non_field_errors }}
    <div class="d-flex input-group input-group-lg">
      <input type="text"
             class="form-control"
             name="magic_code"
             autofocus="autofocus"
             placeholder="code d'accès"
             maxlength="12"
             required=""
             id="hi-magic-code-input"
             width="8">
      <div class="input-group-append">
        <button id="hi-magic-code-submit-button"
                type="submit" name=submit" value="main"
                class="main btn btn-primary">ENVOYER</button>
      </div>
    </div>
    {% if magic_code_form.magic_code.errors %}
    <div class=" text-left text-danger mt-2">
      <small class="form-error">{{ magic_code_form.magic_code.errors }}</small>
    </div>
    <div>
      <a href="{% url 'user_signin' %}" class="btn btn-secondary px-5">Recommencer</a>
    </div>
    {% endif %}
  </form>
</div>

<div class="text-muted my-4">
  Si vous ne recevez pas ce courriel dans les prochaines minutes, vérifiez que l'adresse « {{ magic_code_form.email_address.value }} » est valide et enregistrée.
</div>
{% endblock %}
