{% extends "pages/prompt_page.html" %}
{% load icons %}

{% block prompt_content %}
<div class="card">
  <div class="card-header bg-primary text-dark">
    <div class="d-flex align-items-center">
      {% icon "unlock" size="md" css_class="mr-2" %}
      <h4 class="mb-0">Connexion</h4>
    </div>
  </div>
  <div class="card-body">
    {% if email_not_configured %}
    <div class="alert alert-danger">
      <div class="h4" >Courriel non configuré</div>
      <p>
        Les paramètres de courriel ne sont pas configurés correctement. La connexion nécessite l'envoi de courriels.
      </p>
    </div>
    {% endif %}
    {% if error_message %}
    <div class="alert alert-danger">
      {{ error_message }}
    </div>
    {% endif %}
    {% if from_extension %}
    <div class="alert alert-info">
      <div class="d-flex align-items-center">
        {% icon "plug" size="md" css_class="mr-2" %}
        <div>
          <strong>Autorisation de l'extension de navigateur</strong>
          <p class="mb-0 small">Connectez-vous pour lier votre extension de navigateur à Voyage.</p>
        </div>
      </div>
    </div>
    {% endif %}
    <form class="sigin form" method="post"
          action="{% url 'user_signin' %}"
          data-synchronous="true">
      {% csrf_token %}
      <div class="h3 text-center">Connexion</div>
      <div class="mt-3 text-center">
        <input class="" style="width: 20rem;"
               type="email"
               name="email"
               value=""
               autofocus="autofocus"
               placeholder="adresse courriel" required="" id="hi-signin-email"/>
      </div>
      <div class="text-center">
        <button id="hi-signin-button"
                role="button" type="submit"
                class="btn btn-lg btn-primary my-4">
          <b>Connexion</b>
        </button>
      </div>
    </form>

    <div class="card-footer">
      <p class="text-center small text-muted font-italic">Accès privé</p>
    </div>
  </div>
</div>


    <div>
</div>

{% endblock %}
